[2020-10-22 16:32] vaibhav-k opened #1 "Possibility of doing enrichment analysis based on a list of isoforms"
Is it possible to do the enrichment analysis based on a set of isoform IDs?

[2020-11-12 17:04] dm8000 opened #2 "[BUG]"
Bug description:
The table I export has different values compared with the table displayed on website. example: SUZ12 CHEA combined score was 12.7093 on exported table but 17.45 on table displayed on website. Similar things happened to adjusted p-values and other lines.

Steps to reproduce the behavior:
1. Go to EnrichR front page
2. Query the gene list
3. Click on "ENCODE and ChEA Consensus TFs f

[2020-11-12 17:51] AviMaayan commented on #2
Thank you @dm8000! We are working on it...

[2020-12-04 20:40] tim-peterson opened #3 "Explain how the statistics are done"
Thanks so much for producing Enrichr. It's an amazing tool.

Every tab provides an odds ratio and a p-value. It would be good in the FAQ to explain what type of statistics go into those calculations. It would make Enrichr less of a black box.

Thanks again!

[2020-12-07 22:25] ChiamYu opened #4 "[BUG] YeastEnrichr service not available"
**Describe the bug**
The https://maayanlab.cloud/YeastEnrichr service is not available.

**To Reproduce**
Steps to reproduce the behavior:
Go to : https://maayanlab.cloud/YeastEnrichr

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser : Chrome

[2020-12-07 23:34] AviMaayan commented on #4
Should be back up. Thank you for letting us know!

[2020-12-07 23:34] #4 closed, assigned to maxim-k

[2020-12-08 08:50] ChiamYu commented on #4
Thank you for fixing this so fast!

[2020-12-20 01:34] AlfredoKCL opened #5 "Gene search via the API, is it possible?"
Dear developers,

I would like to use the gene search tool of the Enrichr webserver via the API. Is this possible?

Thanks in advance for your help

Best wishes

Alfredo

[2020-12-20 02:07] maxim-k commented on #5
@AlfredoKCL you can use [/genemap](https://maayanlab.cloud/Enrichr/genemap?gene=STAT3&json=true) endpoint with two parameters: `gene` for a gene name and (optional) `json=true` to get results in json format.

[2020-12-20 02:07] #5 closed, assigned to maxim-k

[2020-12-21 01:22] AlfredoKCL commented on #5
@maxim-k  Thank you very much Maxim. I have another question about this. I am not that familiar with the json fomat so I would like to have the output in plaintext. If I set json=false I obtain this but I lose the category information. Is it possible to get the output in plaintext but still grouped by category (e.g. Transcription, pathways, etc) and by source (e.g. for Transcription, ChEA 2016, EN

[2020-12-21 01:29] AlfredoKCL opened #6 "Gene search via the API, how to get structured output"
@maxim-k Thank you very much for the answer to my previous issue. I am posting my new question here as I realised that my other issue was closed.  Anyway, I have another question about this. I am not that familiar with the json format so I would like to have the output in plaintext, but if I set json=false, I lose the category information. Is it possible to get the output in plaintext but still gr

[2020-12-30 08:56] imichalop opened #7 "[BUG]"
Dear Prof. Ma’ayan,

We decided to export the output of our gene coexpression analysis tool to Enrichr which is an amazing tool that provides numerous enrichment categories, an easy way to import data and comprehensible visualisation of the results.
However, while examining the results, we also noticed some probable discrepancies, which we will try to explain:

1) Adjusted p-value calculation.
We

[2020-12-30 19:41] lachmann12 commented on #7
Fixed, still needs to be rebuilt for Docker deployment and pushed to the cloud.

[2020-12-31 08:53] imichalop commented on #7
I am afraid it is not fixed:
If you try your 375 gene set example > Transcription > ENCODE and ChEA Consensus TFs from ChIP-X > Table > Sort by p-value (ASC):
Index | Name | P-value | Adjusted p-value | Odds Ratio | Combined score
-- | -- | -- | -- | -- | --
1 | ERG CHEA | 0.001607 | 0.1671 | 3.33 | 21.44
2 | NR2C2 ENCODE | 0.002660 | 0.1383 | 2.29 | 13.55
3 | GABPA ENCODE | 0.01964 | 0.6808 | 1.3

[2020-12-31 08:57] imichalop commented on #7
My proposed fix will probably stop the fact that most adjusted p-values are equal to 1. The highest adjusted p-value is equal to the highest original p-value which in most of the cases is lower than 1.

375 gene set example > Transcription > ARCHS4 TFs Coexp > Table > Sort by p-value (DESC):

Index | Name | P-value | Adjusted p-value | Odds Ratio | Combined score
-- | -- | -- | -- | -- | --
1 | ET

[2020-12-31 09:04] imichalop commented on #7
Furthermore, to include hits with adjusted p-values higher than a set cut-off may be misleading to non-experienced users. In the case of the aforementioned example 375 gene set, none of the transcription factors is statistically significant, as the adjusted p-value of all exceeds the 0.05 or even 0.1 cut-off. Nevertheless, a list of TFs is produced.

[2020-12-31 14:47] lachmann12 commented on #7
Sorry for the confusion. The code was updated but the service still needs to be redeployed to the servers. Only then will the changes be visible.

[2021-01-04 08:46] imichalop commented on #7
Thank you for your prompt response.
Happy New Year!

[2021-01-05 02:09] AviMaayan commented on #7
Dear @imichalop Happy New Year! Can you please take a look at it to see if it corrected... Many thanks, Avi

[2021-01-05 08:10] imichalop commented on #7
Dear @AviMaayan
Thank you for your prompt response. I just checked it. It is **perfect** now! Well done!
Happy New Year!
Ioannis

[2021-01-05 17:08] #7 closed, assigned to u8sand, maxim-k, lachmann12

[2021-01-05 18:04] maxim-k commented on #6
@AlfredoKCL to print a json file in a human-readable way, you can use any of approaches from [this StackOverflow discussion](https://stackoverflow.com/questions/12943819/how-to-prettyprint-a-json-file).
The simplest one is `python3 -m json.tool genemap.json`

[2021-01-11 17:37] denoqo opened #8 "Export function"
Hello,

There seems to be an issue with the " Export entries to table" function from the web, as below:
[code]

It's also affecting the R-package enrichR dependent on it.
[code]

I guess it's temporary as you guys are updating the tool?

Thanks a lot!
Nick

[2021-01-11 18:13] u8sand commented on #8
Thank you for the report, we've been working on ways to deal with more users and our recent attempt at using multiple instances seems to have been premature; we've reverted it for now.

[2021-01-11 20:32] #8 closed, assigned to nobody

[2021-01-11 20:33] AviMaayan commented on #8
It should now work again as expected. Thank you @denoqo for letting us know about this issue.

[2021-01-11 23:24] #6 closed, assigned to nobody

[2021-01-22 11:00] EidrianGM commented on #3
Thanks @tim-peterson I share the same concern. I was also wondering which is the background set used in the Fisher's Exact test.

[2021-02-13 00:17] malcook opened #9 "Documentation does not describe how bed file is converted to gene"
presumably is is some version of closest promoter - but it is not made clear AFAICS

[2021-02-13 04:40] malcook commented on #9
I found the best answer: [A Java module in Enrichr maps the chromosome coordinates listed in input BED files to their nearest coding mouse or human genes](https://academic.oup.com/nar/article/44/W1/W90/2499357#93001114) - probably should be mentioned on the web site

[2021-02-13 04:59] malcook commented on #3
FWIW answer to be found in https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-14-128#Sec2 (unless its changed since then) which begins:

@EidrianGM - Presumably the background is the entire set against which enrichment is being calculated

[2021-02-16 09:56] EidrianGM commented on #3
Presumably yes indeed @malcook but in detail what is the entire set? All the genes from Uniprot? Ensembl? HGCN? NCBI? only protein coding? considering the whole genome or only those annotated in each database/gene set?

[2021-02-16 12:40] tim-peterson commented on #3
I agree with @EidrianGM. It would be good to include information on the background gene sets for each of the tests. Better yet I’d love to get access to the gene sets so we could adjust them in our own way.

[2021-02-16 19:50] AviMaayan commented on #3
We used 20K as a hard-coded value for the background for the Fisher Exact Test. All the libraries are available for download from here: https://maayanlab.cloud/Enrichr/#stats

[2021-02-23 19:36] gordonaa opened #10 "library description"
Can you please add a description of each library to the website. I found the description in the supplementary data from the 2016 paper but it would be much more useful on the website.

[2021-02-23 19:46] maxim-k commented on #10
@gordonaa most libraries have descriptions. To view them hover over **ⓘ** icon in top right corner of a library card.

![lib_desc](https://user-images.githubusercontent.com/5928795/108898892-c51e7400-75e5-11eb-8819-81d09461c57d.png)

[2021-02-23 19:57] gordonaa commented on #10
Thanks! Any chance you could also add them to the library page of the website?
![image](https://user-images.githubusercontent.com/18355618/108900242-423def00-75ce-11eb-9ec8-83499bcce74d.png)

[2021-02-23 23:31] mkrdonovan opened #11 "[BUG] Set custom background?"
Fantastic GO enrichment tool!

Wondering if the option to set your own custom background has been implemented or if there are plans to?

Thanks!

[2021-02-23 23:37] AviMaayan commented on #11
You can try this Appyter: https://appyters.maayanlab.cloud/Independent_Enrichment_Analysis/

[2021-02-24 17:59] mkrdonovan commented on #11
Thanks for the tip! Will give it a try--wasn't familiar with Appyters before, but it's a very cool concept. Still, would love to have bg optional in the R Enrichr package :)

[2021-03-11 00:50] keiono opened #12 "[BUG] Incorrect CORS header setting (or policy change?)"
**Describe the bug**
Before the migration to the new domain (http://maayanlab.cloud), our web application works perfectly when it calls Enrichr API for enrichment analysis on-the-fly.  However, this week, we noticed the old API no longer works.  We updated the URLs to the new ones in our application and "sometimes" it worked, but now it cannot access it anymore due to the following issue:

`Access

[2021-03-11 00:55] AviMaayan commented on #12
Dear @keiono if you change http to https it should work.

[2021-03-11 01:09] keiono commented on #12
@AviMaayan  Oh, I did not noticed the new one supports HTTPS, and now it works.

Just FYI, the documentation and example code use http, instead of https, and some other developers may fall into the same issue.

https://maayanlab.cloud/Enrichr/help#faq

Other than that, our API calls look OK for me.
Thanks for your help.

[2021-03-12 17:58] pstew opened #13 "[BUG]"
**Describe the bug**
Password reset does not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://maayanlab.cloud/Enrichr/login.html
2. Click on Password reset
3. Enter email address
4. Click Reset
5. Nothing happens in both Chrome and Safari

**Expected behavior**
Password is reset/email with reset instructions sent.

**Screenshots**
If applicable, add screenshots to help exp

[2021-03-23 12:14] dawe opened #14 "[BUG] genesigdb outdated"
**Describe the bug**
If you perform any enrichment and check results in GeneSIGDB (Disease/Drugs), you can click on table entries to see the original entry. Unfortunately the [linked web site](http://www.genesigdb.org) is a chinese web site about, well… I don't really know what is about, but definitely not the intended database

[2021-03-31 15:02] AviMaayan opened #15 "Table not showing for chem pert library"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://maayanlab.cloud/Enrichr/enrich?dataset=8faea06e1ef4175d678ad294bfe83158'
2. Click on 'LINCS L1000 Chem Pert down'
3. Click on 'Table'
4. See error

**Expected behavior**
Table of results

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-04-17 04:45] marouenbg opened #16 "gene names in gwas catalog 2019"
**Describe the bug**
Possible Excel conversion in gene names in gwas catalog library

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://maayanlab.cloud/Enrichr/#stats
2. Click on GWAS catalog 2019
3. search for 1-MAR, 1-DEC

**Expected behavior**
I think these names got converted by Excel, probably only in this file and not in the application. The correct gene name should be MARCH

[2021-04-23 02:30] veroniquevoisin opened #17 "Just a question: using a bed file as input, what are the rules used to map genes from the genomic coordinates ?"
is it the nearest gene or is there a rule like find nearest gene with a maximum distance of +-10kb, etc...
Thanks!!

[2021-05-05 21:47] stinner21 opened #18 "can a pathway be uploaded to Enrichr for use?"
specifically, the MSigDB Hallmark 2020 Geneset converted to murine orthologs

http://bioinf.wehi.edu.au/software/MSigDB/

publicly available online?

[2021-05-06 01:38] AviMaayan commented on #18
It is already there under pathways...
![image](https://user-images.githubusercontent.com/12749033/117230089-41a1b000-adea-11eb-9c96-139d2a1fff5c.png)

[2021-05-06 01:48] stinner21 commented on #18
So this version of MSIgDB is curated from human gene sets but the link above in the original comment contains an rdata file of the MSigDB hallmark pathways converted to murine orthologs.

Which is potentially useful to those with mouse rna seq datasets.

just a suggestion, interested in your thoughts or whether mouse rna seq data can be analyzed with human pathways

[2021-05-11 02:32] cybluetree commented on #18
It would be great if we could upload libraries. For example, KEGG, GO have updated versions. Is it possible to add this function so that we can use the latest version of database we are interested in? Thanks.

[2021-05-11 02:37] cybluetree opened #19 "Is it possible to know if all gene names are recognized?"
Sometimes, there is inconsistency in gene names. One gene may have several names. Is there anyway to know if Enrichr recognize all gene names in the input gene list? Mis-recognition may lead to false positive or false negative results. Thanks!

[2021-05-11 03:45] maxim-k commented on #19
Enrichr allows all strings with no special characters and considers them as gene names. What happens next depends on a specific gene set library. We treat source data with respect and modify it as less as possible.
I.e. the same gene is "MOP3" in "MGI Mammalian Phenotype 2013" and "ARNTL" in "MGI Mammalian Phenotype Level 4 2019" as these names were correct when we created the libraries.

[2021-05-11 14:40] AviMaayan commented on #18
You can use this new Appyter if you have customized library and/or background: https://appyters.maayanlab.cloud/#/Independent_Enrichment_Analysis

[2021-05-26 05:04] hsiaoyi0504 opened #20 "[BUG] Different gmt files are used in Enrichr server and download package"
It is originally reported to https://github.com/zqfang/GSEApy/issues/122.
However, it seems to me that the root cause of the issue is probably because the gmt files that we can download from https://maayanlab.cloud/Enrichr/#stats are different from those used in the Enrichr server.

[2021-05-26 05:09] #19 closed, assigned to maxim-k

[2021-05-26 05:21] maxim-k commented on #20
@hsiaoyi0504  data is the same, as gmt files on #stats are generated from the database every time you request them.
We didn't develop GSEApy package, so I don't know how does 'local' mode of GSEApy work, but from [what I see](https://github.com/zqfang/GSEApy/blob/master/gseapy/enrichr.py#L326) they calculate values in local mode themselves. That's probably the reason whey values are close, but not

[2021-05-26 05:21] #20 closed, assigned to maxim-k

[2021-05-26 05:21] #18 closed, assigned to maxim-k

[2021-05-26 06:28] hsiaoyi0504 commented on #20
@maxim-k Thanks for replying to me. However, as I mentioned in the original issue:

Do you mean that the gmt file of KEGG_2019_HUMAN is probably updated recently? I downloaded the gmt file earlier today.

[2021-05-26 06:38] hsiaoyi0504 commented on #20
Oh, I checked with the Malaria term. It seems like the GSEApy might have a bug of parsing gmt file.

[2021-06-03 13:17] sarahbonnin opened #21 "File upload feature gone?"
Hello!

Today I see that there is no longer the option of uploading a file with gene symbols (instead of copying/pasting it), while a few weeks ago it was possible: will this feature be back at some point?

Thank you and best regards.

[2021-06-03 14:32] #3 closed, assigned to nobody

[2021-06-03 14:33] #9 closed, assigned to nobody

[2021-06-03 14:34] maxim-k commented on #17
Closed as a duplicate of #9

[2021-06-03 14:34] #17 closed, assigned to nobody

[2021-06-03 22:09] #14 closed, assigned to maxim-k

[2021-06-03 22:10] maxim-k commented on #14
Now the link points to the paper.

[2021-06-03 22:13] maxim-k commented on #12
The API section of Help is fixed

[2021-06-03 22:13] #12 closed, assigned to maxim-k

[2021-06-14 18:48] winhide opened #22 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://maayanlab.cloud/Enrichr/#metadata'
2. Click on 'expand a gene'
3. enter gene name (APOE for example) the STAT3 example works but not a real gene name from the user....
4. Site just rotated the helix symbol and doesn't generate a list

**Expected behavior**
G

[2021-07-20 23:52] ragans opened #23 "HuBMAP_ASCT_plus_B_augmented_w_RNAseq_Coexpression Dataset Preparation Details"
Can you provide some details on the preparation of the cell type gene sets in the HuBMAP_ASCT_plus_B_augmented_w_RNAseq_Coexpression Dataset.  This would be very helpful for understanding the use of some markers for different cell types.

Thanks very much.

[2021-07-21 17:05] AviMaayan commented on #23
Hi @ragans we took the marker gene sets from here: https://hubmapconsortium.github.io/ccf-asct-reporter/ and the added to each set the top 100 genes that mostly co-express with each set (or individual genes) using the ARCHS4 global co-expression matrix from here: https://maayanlab.cloud/archs4/download.html

[2021-07-23 07:03] BoxWong commented on #21
Is anyone actually managing these?

[2021-07-23 14:22] JoyOtten commented on #11
I totally agree that it would be a very nice option to have background genes as an option in the R enrichr package.

[2021-07-25 00:32] AviMaayan opened #24 "Links from library pages are all broken"
**Describe the bug**
Links from library pages are all broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://maayanlab.cloud/Enrichr/#libraries'
2. Click on 'any library label'
4. See error

**Expected behavior**
Link should lead to the source

**Screenshots**
![image](https://user-images.githubusercontent.com/12749033/126884080-350dd27d-1d95-4092-99ca-99e556e43c14.png)

**Des

[2021-07-25 00:34] AviMaayan opened #25 "azimuth library link missing"
**Describe the bug**
The Azimuth library should point to https://azimuth.hubmapconsortium.org/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://maayanlab.cloud/Enrichr/#libraries'
4. See error

**Expected behavior**
Entry should have hyper link.

**Screenshots**
![image](https://user-images.githubusercontent.com/12749033/126884133-690bb02e-b0d2-4a67-98ed-8431df7590d1.png)

**De

[2021-07-25 01:30] #24 closed, assigned to maxim-k

[2021-07-25 01:30] #25 closed, assigned to maxim-k

[2021-07-25 01:30] #23 closed, assigned to nobody

[2021-08-09 09:32] rachellw opened #26 "meaning of combined score"
Hi

I love your website it has given me so much insight into my data. Thanks for setting it up.

I was wondering, how is the combined score calculated please?  I assume it is a combination of the odds ratio and p value and adjusted p value but can't find any details.

Is there a standard cutoff that people tend to use for combined value (equivalent to the 0.05 people use for p value?)

Thanks agai

[2021-08-09 13:49] AviMaayan commented on #26
Hi @rachellw

The formula for the combined score is -ln(p-value)*odds-ratio. There is now guide for a good cut off but borderline p-values and very few overlapping genes (less than 3) should not be considered in most cases.

Best,

Avi

[2021-08-10 11:53] rachellw commented on #26
HI Avi
Thanks for your speedy and helpful answer
best wishes
Rachel

On Mon, Aug 9, 2021 at 2:50 PM AviMaayan ***@***.***> wrote:

[2021-08-11 22:01] #26 closed, assigned to maxim-k

[2021-08-19 16:28] Jiafi opened #27 "[QUESTION] Difference Between ChEA2016 and CHEA Transcription Factor Targets Dataset"
**Describe the bug**

These two datasets are very similar.  I was wondering exactly what the difference was.  I have been told that the later is a better, cleaned up version of ChEA2016.

https://maayanlab.cloud/Enrichr/geneSetLibrary?mode=text&libraryName=ChEA_2016 vs. https://maayanlab.cloud/static/hdfs/harmonizome/data/cheappi/gene_attribute_edges.txt.gz

Sources:
https://maayanlab.cloud/Enrich

[2021-08-24 10:58] rachellw commented on #26
Thanks so much for your help - I later found the information on calculation of combined score on the website - it was a bit tricky to find as to reveal the description of combined score one has to hover the mouse over the heading of the P value column and to find the description of the p value one has to hover over the heading of the odds ratio column
![image](https://user-images.githubusercontent

[2021-09-01 15:11] Axale42 opened #28 "[Question]"
Hi,
I have a general question regarding enrichR, it's an useful tools.
hovewer, when performing enrichment analysis, I do not always want to use all gene as background, but a selection of genes (Like gene that are only detected by RNA-seq, or gene that are below a cut off of expression)

My question is so, is it possible to change or to give a list of background gene ?

Thanks in advance and again

[2021-09-01 15:18] AviMaayan commented on #28
Hi @Axale42,

You can use this Appyter to perform such analysis:
https://appyters.maayanlab.cloud/#/Independent_Enrichment_Analysis

We do not have support for customized backgrounds in the main Enrichr application.

Best,

Avi

[2021-09-01 15:18] #28 closed, assigned to maxim-k

[2021-10-22 00:48] aleph9999 opened #29 "[BUG]enrichR not working"
**Describe the bug**
A clear and concise description of what the bug is.
The R package enrichr function not working

**To Reproduce**
the library loading and function calling function both showed database not responding while the web interface works well

**Expected behavior**
Working enrichR function

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://us

[2021-10-22 02:18] maxim-k commented on #29
@aleph9999 the problem might be that your package is outdated and is using deprecated URLs. You can update it by running `install.packages("enrichR")` or
[code]

[2021-10-22 02:31] aleph9999 commented on #29
Hi, I tried installing the latest version (3.0 from CRAN and GitHub one) and still get same error.

[2021-10-22 02:47] AviMaayan commented on #29
Hi @aleph9999, Just tested it from New York City, US and it seems to work... might be your location or internet connection (?)
![image](https://user-images.githubusercontent.com/12749033/138385179-1096088f-9802-4a8f-8e60-5a5a95680e0b.png)

[2021-10-22 03:34] aleph9999 commented on #29
Thanks for helping. I guess it might be root CA certificate expiration issue. After I turned off ssl_verifypeer config on httr package it seems working. Sorry for inconvenience.

[2021-10-22 18:43] #29 closed, assigned to maxim-k

[2021-11-01 03:36] AviMaayan opened #30 "Gene search for GTEx aging genes does not work properly"
**Describe the bug**
![image](https://user-images.githubusercontent.com/12749033/139618315-99694eb1-d458-4e37-a87d-110c33c2c957.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Gene Search
2. Type LGI3
3. Scroll down to 'GTEx aging libraries'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2021-11-01 03:47] AviMaayan opened #31 "Change descriptive text to LGI3" is down-regulated in a signature created from ""
**Describe the bug**
Change descriptive text to LGI3" is down-regulated in a signature created from "
![image](https://user-images.githubusercontent.com/12749033/139619194-f075116b-622c-404b-98c7-4471763d1b9a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Gene Search'
2. Type in LGI3
3. Scroll down to "RNAseq Automatic GEO Signatures Human Down"
4. See TEXT that needs to be fixe

[2021-11-01 15:56] #30 closed, assigned to maxim-k

[2021-11-01 15:56] #31 closed, assigned to maxim-k

[2021-12-02 13:42] cuchipapi opened #32 "Hi, export entries table does not work for me. It exports always the same list of proteins that in addition is not the one that comes out from enrichment. How can I solve this?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-12-27 09:05] FADHLyemen opened #33 "do enrichr have reactome 2021 as background?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-10 10:02] Accio opened #34 "[BUG] Pasword reset does not work"
**Describe the bug**
In `Password reset`, nothing happens once the email address is entered and the `Reset` button is pressed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Login/Password Reset'
2. Enter an email and Click on 'Reset'
3. Nothing happens

**Expected behavior**
A feedback is given and an email is sent to the email if it's registered.

**Desktop (please complete the foll

[2022-01-13 17:57] Dragonmasterx87 opened #35 "[BUG] Mitochondrial genes are missing in gene ontology analysis"
**Describe the bug**
Thank you for creating EnrichR! I have noticed that when adding human mitochondrial genes they do not generate gene ontologies, for example, GO:0031966. Could you please include the 13 human mitochondrial genes? Such as MT-##? Is there a different gene name than MT-## (## being different for each of the 13 gene names such as MT-CO3)

**To Reproduce**
Steps to reproduce the beh

[2022-01-13 18:57] AviMaayan commented on #35
We do not have strict rules about the supported gene symbols, so it is possible that for these genes older names will return better results. For example, MT-CO3 is also known as COX3 which is supported by some Enrichr libraries: https://maayanlab.cloud/Enrichr/#find!gene=COX3

[2022-01-13 20:55] Dragonmasterx87 commented on #35
Thanks Avi! I do notice that the GO terms still don't come populated for corresponding mitochondrial genes, however, KEGG and wikipathways are populated.

[2022-01-30 20:16] rynlsby opened #36 "[BUG]"
**Describe the bug**
When trying to access the appyter figures I am unable to establish a secure connection to the server. Have tried on multiple devices/web browsers

**Desktop:**
 - Browser [ chrome, safari and firefox]

[2022-01-30 20:35] AviMaayan commented on #36
@rynlsby Thank you for letting us know... It seems to be working for me. Can you please retry and/or provide more details. For example, sharing the Enrichr link for your uploaded set?

[2022-01-30 20:43] rynlsby commented on #36
Thank you for your quick reply.

I've been trying all day, even with the example gene set it does not work.

The error I get on chrome is:
"appyters.maayanlab.cloud normally uses encryption to protect your information. When Chrome tried to connect to appyters.maayanlab.cloud this time, the website sent back unusual and incorrect credentials. This may happen when an attacker is trying to pretend to

[2022-01-30 21:26] AviMaayan commented on #36
Please try to do a hard refresh of your browser by holding down the Ctrl button on the keyboard, and clicking the Reload button in the browser.

[2022-02-03 20:57] euanjrodger commented on #21
Hi, enrichr is a great tool that we've used previously. I've also noticed that now the option to upload a file is not possible and therefore doesn't allow BED files as an input.
<img width="778" alt="Screen Shot 2022-02-04 at 9 56 36 AM" src="https://user-images.githubusercontent.com/11530668/152427449-df391bcd-6e17-47da-8fe2-b9d6287a8d3c.png">
.

[2022-02-09 15:31] morchalabi opened #37 "An R module for Enrichr"
Hi, this is not an issue. I have created an R module for interacting with Enrichr. It can be accessed from here: [EnrichR](https://github.com/morchalabi/EnrichR)

[2022-02-24 14:53] simonmfr commented on #10
I'd support this Idea. For several libraries the exact source is not clear, and the link doesn't help much. For instance I was wondering about the source of Allen_Brain_Atlas_10X_scRNA containing mouse and human cell types. The [Yao 2021 Cell paper](https://www.sciencedirect.com/science/article/abs/pii/S0092867421005018) only studied mouse cell types to my knowledge.

Much appreciated!

[2022-03-19 00:16] mrliuw opened #38 "[BUG]It would be good to accept all common types of IDs"
**Describe the bug**
A clear and concise description of what the bug is.
This is not a bug. But I think for biologists, who are not familiar with bioinformatics, it would be a perfect enrichment tool if it can accept kinds of IDs from various databases, such as ensemble gene ids, ncbi entrez gene accession, Affymetrix probes, etc. What the database maintainers need to do is to add a step to transf

[2022-04-14 21:38] jackh726 opened #39 "Terms and genes seem to be missing"
I have a gene set of 404 mouse genes (https://gist.github.com/jackh726/3296f36b1d06245d8b741ef1a5151663).

When I run this set through [Panther](http://pantherdb.org/) with "GO Biological Process", one term that pops up is "lung development" (GO:0030324), with 26/216 genes found. Similarly, running the set through [ShinyGO](http://bioinformatics.sdstate.edu/go/) gives lung development as a top-enr

[2022-04-15 02:44] AviMaayan commented on #39
Hi @jackh726 this is because the way we processed the data from GO and converted it into a gene set library. I believe we restricted it to only include human annotations and perhaps some other filters. We cut the tree in a way that may exclude genes. There are different ways to do it. Regarding the Panther term that is missing, note that our Panther library is from 2016, so we need to update it. H

[2022-04-15 03:06] jackh726 commented on #39
I figured it would be something like that, but I couldn't figure out what the filter would have been. GO:0030324 has human genes too, and many of the genes missing also have a human ortholog (e.g. Gata6). What is most shocking to me is not just that *some* genes are missing, but more than 80% for this term.

Regarding Panther, I maybe should have been more clear. With Enrichr, I only look at the "

[2022-05-04 02:49] acerverat opened #40 "[BUG]"
**Describe the bug**
The EnrichR webpage used to have a place to upload the genes as a file and now it has disappeared (for some time now).

**To Reproduce**
Go to EnrichR webpage and try to input the genes as a file.

**Expected behavior**
To have Choose File button that used to be there and it isn't anymore.

**Screenshots**
![image](https://user-images.githubusercontent.com/84943948/166617161-f

[2022-05-04 03:22] AviMaayan commented on #40
We should be able to add it back.

[2022-05-04 15:07] acerverat commented on #40
Great! Thanks. EnrichR is a great tool so thank you for it,

[2022-06-29 21:17] chprasad opened #42 "scEnrichr repo missing in GitHub"
[Git repo](https://github.com/maayanLab/scEnrichr) listed in [scEnrichr appyter page](https://appyters.maayanlab.cloud/#/scEnrichr) returns a 404.

Is there a new home for scEnrichr description and/or source?

[2022-06-30 09:27] sianfox opened #43 "Reactome Library"
Hi,
I am curious as to why the Reactome library in Enrichr has not been updated since 2016.
Personally I find this database generally more useful in my work than Kegg for example that you do update.
Thanks
Simon

[2022-06-30 18:08] AviMaayan commented on #43
Hi @sianfox thank you for your e-mail. We will prioritize this...

[2022-06-30 18:11] u8sand commented on #42
@chprasad This is an internal repo but in reality it doesn't have much more than what is available in the catalog source which is at: https://github.com/MaayanLab/appyter-catalog/tree/main/appyters/scEnrichr

We'll probably update the link, do let us know if you have further questions

[2022-06-30 18:30] u8sand commented on #42
Fixed in https://github.com/MaayanLab/appyter-catalog/commit/6dca33a064108a5e7853fc739d44eedf103e68a7

[2022-06-30 18:30] #42 closed, assigned to u8sand

[2022-07-19 12:49] mdrnao opened #44 "[BUG] back end failing?"
Both the R and web interface failing with multiple error codes:

Tried within work network and on mobile phone data using the example gene-set, as well as a random selection of genes.

As an aside - might be good to have a banner on the website to confirm no planned updates are occuring?

All the best,
Holly

[2022-07-19 13:10] mdrnao commented on #44
After a morning of failing, issue appears to be resolved now! Apologies.

[2022-07-19 13:10] #44 closed, assigned to nobody

[2022-08-02 23:50] FADHLyemen opened #45 "could you provide with code of enrichr[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-08-08 08:26] julien-roux commented on #11
Here is a recent paper illustrating again the risks of not using the correct background for enrichment analyses: https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1009935

So this feature would definitely be needed! A lot of biologists use the app without paying attention to this problem....

[2022-09-21 16:08] chubukov opened #46 "is it possible to search all libraries together via the API"
The only examples on the https://maayanlab.cloud/Enrichr/help#api page involve doing enrichment analysis on only a single gene set library. Of course it's possible to loop over the libraries one at a time but this is orders of magnitude less efficient than the performance one gets with through the browser interface, so it doesn't seem great.

Is there a way to specify multiple libraries in the API

[2022-09-21 16:14] AviMaayan commented on #46
This link might help: https://appyters.maayanlab.cloud/#/Independent_Enrichment_Analysis

[2022-09-22 21:01] chubukov commented on #46
Thanks Avi, I was able to get that running.

[2022-09-22 21:01] #46 closed, assigned to nobody

[2022-09-29 18:14] AviMaayan commented on #43
Dear @sianfox,
We just updated the Reactome library in Enrichr.
Cheers,
Avi

[2022-09-29 18:14] #43 closed, assigned to nobody

[2022-09-29 18:16] AviMaayan commented on #45
Hi @FADHLyemen,
We just updated the Reactome library.
Best,
Avi

[2022-09-29 18:16] #45 closed, assigned to nobody

[2022-09-29 18:17] #39 closed, assigned to maxim-k

[2022-09-29 18:18] #37 closed, assigned to nobody

[2022-09-29 18:19] AviMaayan commented on #27
Please use the ChEA 2022 update library as the most recent version.

[2022-09-29 18:19] #27 closed, assigned to maxim-k

[2022-09-29 18:42] FADHLyemen commented on #45
@AviMaayan thank you, could you release your code? I want to download the library and plot the barplot by my self in ggplot?
how to calculate odd ratio and combined score and old p value?

Thank you for providing all of these service to the community

[2022-09-29 18:45] AviMaayan commented on #45
You can try using this Appyter: https://appyters.maayanlab.cloud/Independent_Enrichment_Analysis/

[2022-10-06 20:30] stmartineau opened #47 "Can't submit fuzzy set to human Enrichr site"
I'm trying to submit a fuzzy set to the human Enrichr site, but it doesn't want to take the numbers. It is only giving me to option to submit the gene symbols.

When I paste my list of gene,value into the text box, it converts every row to just the gene when I click submit.
![enrichr](https://user-images.githubusercontent.com/52297376/194415199-82d9bf7e-a0fb-4556-8596-3904c04f81ee.JPG)

I also tri

[2022-10-06 21:01] AviMaayan commented on #47
Hi @stmartineau it is disabled because we had to upgrade the backend to handle an increasing demand...

[2022-10-06 21:01] #47 closed, assigned to nobody

[2022-10-07 13:46] stmartineau commented on #47
Do you how long it will likely take to be back up?

[2022-10-07 16:53] AviMaayan commented on #47
We plan to leave it the way it is for now...

[2022-10-18 09:12] alnf commented on #10
I have similar request - is it possible to get information/source code on particular libraries creation? For example, I'm interested in GTEx Heart 20-29 vs 30-39 Down. Which samples did you take to generate the set, did you do data pre-processing, did you remove any outliers? Why subselect down/upregulated separately? Also, how to interpret comparison exactly? Are those genes downregulated in 30-3

[2022-10-18 14:22] AviMaayan commented on #10
Hi @alnf the description of how the aging library from GTEx was created is in this paper: https://academic.oup.com/nar/article/50/W1/W697/6582159 under the subtitle:
Gene expression signatures of aging from GTEx
We are working towards creating ETL Appyters for each library, but this will take some time: https://appyters.maayanlab.cloud/#/?q=etl

[2022-10-20 15:36] gdefazio opened #48 "[BUG] Molecular Function Enrichment doesn't work"
**Describe the bug**
Molecular Function (MF) Enrichment (by using GO_Molecular_Function_2021, GO_Molecular_Function_2020 or GO_Molecular_Function_2019) for both enrichr R package and API doesn't return erichment analysis MF results
for 454 genes sets.
By contrast, the MF enrichment correctly works when I use the enrichr web site with some of the same genes sets.

On the other hand, when I use the

[2022-10-21 15:49] AviMaayan commented on #48
Hi @gdefazio there might be an issue with the formatting of your gene set. Can you try dividing it into two or more parts and see if it works for half of the genes in your set?

[2022-10-22 07:27] gdefazio commented on #48
I don't think that the problem is the formatting because when I used the same sets with the same formatting for BP and CC with the R package and API, I got the results. By contrast, the same sets with the same formatting returned empty tables for MF.

[2022-10-22 17:13] AviMaayan commented on #48
Is it possible that there is no overlap, or no significant results for MF?

[2022-10-22 17:25] gdefazio commented on #48
It is possible but improbable because I tested 454 gene sets. Moreover, I tested some of them on the website that showed significant results for MF.

[2022-10-25 19:53] SaharAlkh opened #49 "Add SynGO to enrichR databases"
Hi,
Would it be possible to add SynGO https://www.syngoportal.org/ to the list of databases to check for enrichment?

Thanks

[2022-11-01 08:26] Shenqinhao opened #50 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi